@layer reset, global, components, overrides;

@import url("./reset.css") layer(reset);

@layer global {
  /* @link https://utopia.fyi/type/calculator?c=375,12,1.25,1200,14,1.333,6,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  /* font size */
  :root {
    --fsize--1: clamp(0.6rem, 0.5744rem + 0.1094vw, 0.6564rem);
    --fsize-0: clamp(0.75rem, 0.6932rem + 0.2424vw, 0.875rem);
    --fsize-1: clamp(0.9375rem, 0.8335rem + 0.4439vw, 1.1664rem);
    --fsize-2: clamp(1.1719rem, 0.9978rem + 0.7426vw, 1.5548rem);
    --fsize-3: clamp(1.4648rem, 1.1886rem + 1.1785vw, 2.0725rem);
    --fsize-4: clamp(1.8311rem, 1.4076rem + 1.8068vw, 2.7627rem);
    --fsize-5: clamp(2.2888rem, 1.6553rem + 2.7032vw, 3.6826rem);
    --fsize-6: clamp(2.861rem, 1.9301rem + 3.9717vw, 4.909rem);

    /* flow space */
    --flowspace-s: clamp(0.75rem, 0.6932rem + 0.2424vw, 0.875rem);
    --flowspace-m: clamp(1.125rem, 1.0398rem + 0.3636vw, 1.3125rem);
    --flowspace-l: clamp(1.5rem, 1.3864rem + 0.4848vw, 1.75rem);
    --flowspace-xl: clamp(2.25rem, 2.0795rem + 0.7273vw, 2.625rem);
    --flowspace-2xl: clamp(3rem, 2.7727rem + 0.9697vw, 3.5rem);
    --flowspace-3xl: clamp(4.5rem, 4.1591rem + 1.4545vw, 5.25rem);

    /* color variables */
    --yellow: #ffcc4a;
    --green: #4eaf4e;
    --dark: #181818;
    --light: #f5f5f5;
    --white: #ffffff;
    --gray: #595566;
  }

  html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
      Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    line-height: 1.5;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--dark);
    font-weight: 600;
    font-family: Cabin;
    line-height: 1.3;
  }

  h1 {
    font-size: var(--fsize-6);
    margin-bottom: var(--flowspace-3xl);
  }

  h2 {
    font-size: var(--fsize-5);
    margin-bottom: var(--flowspace-2xl);
  }

  h3 {
    font-size: var(--fsize-4);
    margin-bottom: var(--flowspace-1xl);
  }

  h4 {
    font-size: var(--fsize-3);
    margin-bottom: var(--flowspace-xl);
  }

  h5 {
    font-size: var(--fsize-2);
    margin-bottom: var(--flowspace-l);
  }

  h6 {
    font-size: var(--fsize-1);
    margin-bottom: var(--flowspace-m);
  }

  p,
  li {
    color: var(--gray);
    font-family: Lato;
    font-size: var(--fsize-0);
    font-weight: 400;
    line-height: 1.475; /* 1.475rem */
    margin-bottom: var(--flowspace-s);
  }
}
