---
import TeamLayoutSingleview from "../layout/team_layout_singleview.astro";
import TeamCard from "../components/Team_card.astro";

const employeeData = await fetch(
  "https://raw.githubusercontent.com/roba0001/frontend-design/main/resources/json/employees.json"
).then((res) => res.json());

console.log(employeeData);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
    {
      employeeData.map((employee) => {
        return <TeamCard employeeData={employee} />;
      })
    }
  </body>
</html>
