---
// import { Image } from "astro:assets";
// import daisy from "../assets/images/daisy.jpg";
import TeamCard from "../components/Team_card.astro";
import BaseLayout from "../layout/base_layout.astro";
import "../styles/global.css";
---

<BaseLayout title="Home">
  <!-- <Image alt="" src={daisy} format="avif" /> -->
  <p>hej</p>
  <a href="/team.html">Team</a>
  <a href="/team.html">Team</a>

  {
    employeeData.map((employee) => {
      return <TeamCard employeeData={employee} />;
    })
  }
</BaseLayout>
