---
import "../styles/global.css";
---

<section class="footer full-bleed">
  <h5>AskExperts</h5>

  <div class="line_container"><hr /></div>

  <!-- evt byt ud med ::before -->
  <p>©2022 Consultalk. All rights reserved | Terms of Service | Privacy Policy</p>
</section>

<style>
  .full-bleed {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: full;

    > * {
      grid-column: content;
    }
    .line_container {
      grid-column: full;
    }
  }

  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .footer {
    margin-top: auto;
    /* display: flex; */
    width: 100%;
    padding: 2.875rem 0rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    background: black;

    & * {
      color: var(--white);
    }

    .line_container {
      grid-column: content;
      hr {
        background-color: white;
        height: 0.0625rem;
      }
    }

    h5,
    p {
      margin: auto;
    }
  }
</style>
