---
import "../styles/global.css";
---

<section class="footer full-bleed">
  <div class="after">
    <h5>AskExperts</h5>
  </div>
  <div class="line_container"><hr /></div>

  <!-- evt byt ud med ::before -->
  <p>©2022 Consultalk. All rights reserved | Terms of Service | Privacy Policy</p>
</section>

<style>
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .footer {
    margin-top: auto;
    display: flex;
    width: 100%;
    padding: 2.875rem 0rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    background: black;

    & * {
      color: var(--white);
    }

    &:nth-child(1)::after {
      content: "hej";
    }

    hr {
      background-color: white;
      width: 1rem;
      height: 0.0625rem;
    }

    /* .after::after {
      content: "";
      display: block;

      height: 0.0625rem;
      background: var(--gray);
    } */
    .line_container {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: 1/-1;
    }
  }
</style>
