---
import "../styles/global.css";
import { Icon } from "astro-icon/components";
---

<div class="grid">
  <div class="img">
    <img src="./public/images/what_to_expect.png" alt="People in a meeting" />
  </div>
  <div class="text">
    <p class="udhevet_txt">WE'LL WORK WITH YOU</p>
    <h3>What To Expect</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    <ul>
      <div class="flex">
        <Icon class="icon" name="tick" />
        <li>
          Bring to the table win-win survival strategies to ensure proactive domination. At the end
          of the day.
        </li>
      </div>

      <div class="flex">
        <Icon class="icon" name="tick" />
        <li>
          Capitalize on low hanging fruit to identify a ballpark value added activity to beta test
          override the digital.
        </li>
      </div>
    </ul>
  </div>
</div>

<style>
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 5.125rem;
    margin: 3rem 0;
  }

  .img {
    max-height: 30rem;
    flex-shrink: 0;
    position: relative;
    /* background: src(./public/images/what_to_expect.png) lightgray 50% / cover no-repeat; */

    & img {
      border-radius: 1.25rem;
    }
    &::before {
      content: "";
      position: absolute;
      background: var(--green);
      width: 11rem;
      height: 9rem;
      top: -30px;
      left: -30px;
      border-radius: 1.25rem;
      z-index: -1;
    }

    &::after {
      content: url(/images/pseudo_pattern.png);
      z-index: -2;
      position: absolute;
      top: -55px;
      left: -61px;
    }
  }

  li {
    list-style: none;
  }

  .flex {
    display: flex;
    padding: 0;
    gap: 1.25rem;

    &:nth-child(1) {
      margin-bottom: 1.12rem;
    }
  }

  ul {
    padding: 0;
    width: 26.06075rem;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }

  .udhevet_txt {
    width: auto;
    padding: 0rem 0.75rem;
    border-radius: 1.25rem;
    background: #ffcc4a;
  }

  .icon {
    width: 1.23044rem;
    height: 1.23044rem;
    flex-shrink: 0;
    align-self: center;
  }
</style>
