---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

const { title = "" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- husk at sende title med ned -->
    <title>{title} - AskExperts</title>

    <!-- Cabin font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap"
      rel="stylesheet"
    />

    <!-- lato font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <Header />

    <main>
      <slot />
    </main>

    <Footer />
  </body>
</html>

<style>
  body {
    overflow-x: hidden;
    overflow-y: scroll;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns:
    /* Main grid, full-start, content, full-end */
      [full-start] 1fr [content-start] minmax(0, 1200px)
      [content-end] 1fr [full-end];
  }

  main {
    grid-column: full;
    display: grid;
    grid-template-columns: subgrid;

    > * {
      grid-column: content;
    }
  }

  .full-bleed {
    grid-column: full;
    display: grid;
    grid-template-columns: subgrid;

    > * {
      grid-column: content;
    }
  }
</style>
